<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/index.css">
    <title>Ascii Art Web</title>
</head>
<body>
    <section>
        <div>   
        <h1>Ascii Art Web</h1>
        <hr>
        <form action="/ascii-art" method="post">
        <textarea autofocus name="text" id="text" cols="100" rows="10" required  placeholder="please enter your text" maxlength="30"></textarea><br><br>

        <label for="banner">Select banner</label>
        <select id="banner" name="banner">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select><br><br>
        <hr>
        <button type="submit">Generate Ascii Art</button>
    </form>
    </div>
    </section>
    <footer>
        <p>Created with love by Ahmed Malki & Abderahim ouachani &copy; all right reserved 2024</p>
    </footer>
</body>
</html>
